<div class="field">

  <form [formGroup]="exoForm" 
  (ngSubmit)="onSubmit()">
    
    <h3>Forms</h3>
    
    <label for="title">
        Title
      <input 
      class="input" 
      type="text" 
      id="title"
      formControlName="title"
      name="title"
      >
    </label>
    
    <label for="resume">
      Resume
        <input 
        class="input" 
        type="text" 
        formControlName="resume" 
        id="resume"
        name="resume">
    </label>

    <button class="button" type="submit">Button</button>

  </form>

</div>